<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="retailer" value="#{retailerID}" />
    <add key="environment" value="#{environment}" />
    <add key="application" value="#{application}" />
    <add key="team" value="#{team}" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
