<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="retailer" value="PNI" />
    <add key="environment" value="qa" />
    <add key="application" value="helloWorld" />
    <add key="team" value="Release" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>